@import "tailwindcss";
@import "assets/css/theme.css";
@import "assets/css/base.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .hero-section {
    @apply relative
    w-screen;

    .hero-content {
      @apply w-full 
      h-full
      /* bg image */
      *:in-[div]:first-of-type:absolute
      *:in-[div]:first-of-type:w-full
      *:in-[div]:first-of-type:h-full
      *:in-[div]:first-of-type:bg-cover
      *:in-[div]:first-of-type:bg-[url(/assets/images/azulejos2.svg)]
      *:in-[div]:first-of-type:dark:bg-[url(/assets/images/azulejos.svg)]
      *:in-[div]:first-of-type:before:absolute
      *:in-[div]:first-of-type:before:top-0
      *:in-[div]:first-of-type:before:w-full
      *:in-[div]:first-of-type:before:h-full
      *:in-[div]:first-of-type:before:bg-slate-200/90
      *:in-[div]:first-of-type:before:mix-blend-hard-light
      *:in-[div]:first-of-type:dark:before:bg-gradient-to-b
      *:in-[div]:first-of-type:dark:before:from-firstdark/50
      *:in-[div]:first-of-type:dark:before:via-firstdark/80
      *:in-[div]:first-of-type:dark:before:to-firstdark
      *:in-[div]:first-of-type:dark:before:mix-blend-multiply
      /* block text */
      *:in-[div]:last-of-type:max-w-6xl
      *:in-[div]:last-of-type:mx-auto
      *:in-[div]:last-of-type:pt-24
      *:in-[div]:last-of-type:pb-10
      *:in-[div]:last-of-type:lg:py-24;

      h1 {
        @apply text-fluid-hero/tight;
      }

      .lead {
        @apply text-fluid-body-lg/snug
        mb-3;
      }

      p {
        @apply text-fluid-base;
      }
    }
  }

  /* carta-menu */
  .carta-menu {
    @apply relative 
    w-screen
    bg-slate-100
    dark:bg-firstdark/30;

    article {
      @apply max-w-6xl
      mx-auto
      py-5
      px-[2vw]
      md:flex
      md:items-center
      md:py-10
      xl:px-0;

      .panel {
        @apply will-change-transform
        w-full
        md:first:w-4/12
        md:first:shrink-0
        first:*:relative
        first:*:w-8/12
        first:*:mx-auto
        first:*:mb-5
        first:*:sm:w-3/12
        first:*:md:w-10/12
        first:*:lg:mb-0
        first:*:lg:w-auto;
      }
    }
  }

  .slide {
    @apply bg-white
    dark:bg-secondark
    max-w-5xl
    mx-auto
    py-10;

    h2 {
      @apply text-fluid-2xl
      text-center
      after:block
      after:w-5
      after:h-5
      after:bg-current
      after:mx-auto
      mb-8;
    }

    .gallery {
      @apply p-4
      outline
      outline-current/30
      bg-slate-200
      dark:bg-firstdark/30;
    }
  }

  .card {
    @apply p-3
    lg:p-4
    *:bg-slate-200
    *:dark:bg-firstdark/80
    *:drop-shadow-sm
    *:max-w-xl
    *:p-5
    *:outline-8
    *:-outline-offset-2
    *:outline-white
    *:dark:outline-secondark
    *:dark:text-secondark
    *:*:first-of-type:first:text-fluid-3xl/tight
    *:*:first-of-type:first:capitalize
    *:*:last-of-type:text-fluid-body-lg;
  }

  .single,
  .compound {
    @apply p-7;
  }

  .compound {
    @apply *:lg:grid
    *:lg:grid-cols-2;
  }

  .first,
  .second {
    @apply flex
    justify-center;
  }

  .optional .image,
  .optional .noImg {
    @apply w-24
      h-24
      mb-5
      rounded-full
      overflow-hidden
      outline-1
      outline-current/50
      -outline-offset-2
      md:w-28
      md:h-28
      lg:w-30
      lg:h-30;
  }

  .l-box {
    @apply border
    block
    p-4
    md:p-8;
  }

  .l-box--no-border {
    @apply border-none
    outline-1
    outline-transparent
    -outline-offset-1;
  }

  .l-stack {
    @apply flex
    flex-col;

    > * + * {
      @apply mt-5;
    }
  }

  /* text component */
  .component--text {
    @apply *:max-w-2xl
    /* *:mx-auto; */;
  }

  /* Buttons */
  .cookies-buttons {
    @apply first:mr-2
      inline-flex
      font-semibold
      py-2
      px-4
      rounded-lg
      outline-2
      -outline-offset-1
      outline-firstlight
      dark:outline-firstdark
      bg-firstlight
      text-white
      dark:bg-firstdark    
      dark:text-secondark
      hover:bg-white
      hover:text-firstlight
      dark:hover:bg-secondark    
      dark:hover:text-firstdark;
  }

  .custom-btn {
    @apply mt-5
    lg:mt-10
    inline-flex
    font-bold
    outline-2
    -outline-offset-1
    bg-firstlight
    dark:bg-firstdark
    text-white
    dark:text-secondark
    transition-all
    rounded-full
    px-6
    py-4
    hover:bg-white
    hover:text-firstlight
    dark:hover:bg-secondark
    dark:hover:text-firstdark;
  }

  /* main navigation */
  .mainNav {
    @apply w-full;

    ul {
      @apply flex 
      flex-col 
      justify-evenly;

      li {
        @apply font-mono
        font-bold
        text-5xl/tight
        text-balance
        md:px-20;

        a {
          @apply block
          py-3
          no-underline
          cursor-pointer
          text-firstlight         
          dark:text-firstdark;

          &.router-link-active {
            @apply cursor-default 
            text-firstlight/80
            dark:text-firstdark/80;
          }
        }

        &:first-of-type a {
          @apply pt-0;
        }
      }
    }
  }

  /* footer navigation */
  .footerNav {
    @apply mb-5;

    ul {
      @apply mx-auto 
      flex 
      justify-center 
      items-center 
      flex-col 
      px-10;

      li {
        @apply block
        w-full
        capitalize
        tracking-wider
        font-coordinates;

        a {
          @apply w-full
          block
          text-center
          mb-5;
        }

        &:last-of-type a:after {
          @apply content-none;
        }
      }
    }
  }

  /* footer credits */
  .credits {
    ul {
      @apply w-full 
      mx-auto 
      flex 
      justify-center 
      px-10;

      li {
        @apply capitalize
        xl:text-sm;

        a {
          @apply flex
          items-center
          after:block
          after:w-1
          after:h-1
          after:rounded-full
          after:mx-1;
        }

        &:last-of-type a:after {
          @apply content-none;
        }
      }
    }
  }

  /* baner horarios */
  .today {
    @apply w-full
    text-sm
    font-bold
    py-2
    border-b
    dark:bg-secondark/20;
  }
  .state {
    @apply flex
    flex-wrap
    items-center
    justify-center
    sm:flex-row
    sm:justify-center
    *:first-of-type:in-[div]:flex
    *:first-of-type:in-[div]:items-center;

    .franjas {
      @apply flex px-1;
    }

    .franja:last-child {
      @apply flex justify-center items-center
      before:content-['&']
      before:mx-1;
    }
  }
}

@utility container {
  @apply mx-auto
  px-[2vw];
}

@layer utilities {
  /* breadcrumbs */
  .breadcrumb ol li {
    @apply mr-1
    text-sm
    font-coordinates
    flex
    items-center
    after:w-1
    after:h-1
    after:bg-current
    after:rounded-full
    after:ml-1
    after:block
    last:font-normal
    last:after:content-none;

    a {
      @apply font-semibold;
    }
  }

  /* Component--text */
  .component--text > * + h2,
  .component--text > * + h3,
  .component--text > * + h4,
  .component--text > * + h5,
  .component--text > * + h6 {
    @apply mt-8;
  }

  .component--text > p {
    @apply mt-2;
  }

  .hero-section .component--text {
    @apply dark:text-secondark
    *:bg-white
    *:dark:bg-firstdark
    *:drop-shadow-xs
    *:outline-2
    *:-outline-offset-8
    *:p-5
    *:md:p-5;
  }

  #revista .hero-section .component--text,
  #terms .hero-section .component--text {
    @apply *:max-w-fit
    **:text-fluid-4xl
    **:uppercase
    **:p-2;
  }

  .panel .component--text {
    @apply px-2
    md:px-10
    *:in-[div]:first-of-type:first:text-fluid-2xl/tight
    *:in-[div]:last-of-type:text-fluid-base;
  }

  /* component-quote */
  .component--quote > * {
    @apply max-w-2xl;
  }

  /* svg's carta menu */
  .objectSVG {
    @apply fill-white
      stroke-[4px]
      stroke-firstlight
      dark:fill-firstdark
      dark:stroke-secondark/80;
  }

  .circleSVG {
    @apply fill-white
      stroke-firstlight
      stroke-[6px]
      dark:fill-secondark
      dark:stroke-firstdark;
  }

  .rectSVG {
    @apply fill-firstlight
      dark:fill-firstdark;
  }

  /* Accordion carta */
  .accordion-wrapper.is-closed .panel-body {
    @apply px-0 max-h-0;
  }

  /* Blockcontent */
  .blockContent {
    @apply *:not-[figure]:mb-5;

    ul,
    ol {
      @apply ms-5;
    }

    /* blockquote,
    p,
    ul,
    ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply lg:px-[2vw];
    }

    blockquote {
      @apply text-2xl;
    }

    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
    }

    p,
    ul,
    ol {
      @apply text-lg;
    } */
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(116, 203, 224, 0.8);
  opacity: 1;
}
