@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-firstlight
    text-firstlight
    fill-firstlight
    dark:bg-secondark    dark:text-firstdark    dark:fill-firstdark;
  }

  html {
    @apply h-full;
  }

  body {
    @apply text-base/snug
    font-coordinates
    text-pretty
    min-h-full
    grid-cols-1
    grid-rows-1
    leading-snug
    overflow-x-hidden
    antialiased
    bg-white
    dark:bg-secondark;

    *,
    *::before,
    *::after {
      @apply box-border
      m-0
      break-words
      p-0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold
      tracking-tight
      m-0;
    }

    :focus {
      @apply outline
      outline-transparent
      -outline-offset-2;
    }

    main:focus,
    #main:focus,
    [tabindex='-1']:focus {
      @apply outline-none;
    }

    br {
      @apply mt-0;
    }

    b,
    strong,
    .bold {
      @apply font-semibold;
    }

    svg:not([class]) {
      @apply fill-current
      h-auto
      w-full;
    }

    a {
      @apply transition-colors duration-500;
    }

    a:not([class]):visited {
      color: purple;
    }

    ul:not([class]) > * + *,
    ul:not([class]) li ul,
    ul:not([class]) li ol,
    ol:not([class]) > * + *,
    ol:not([class]) li ul,
    ol:not([class]) li ol {
      @apply mt-1;
    }
  }
}
@layer components {
  .l-box {
    @apply border
    block
    p-7;
  }

  .l-box--no-padding {
    @apply p-0;
  }

  .l-box--no-border {
    @apply border-none
    outline-1
    outline-transparent
    -outline-offset-1;
  }

  .l-center {
    @apply box-content
    mx-auto
    max-w-7xl
    px-[5vw];
  }

  .l-center--full {
    @apply box-content
    w-full
    mx-auto;
  }

  .l-center--full > * {
    @apply box-content
    mx-auto
    max-w-4xl
    px-[5vw]
    lg:px-[7vw];
  }

  .l-cluster {
    @apply overflow-hidden;
  }

  .l-cluster > * {
    @apply flex
    flex-wrap
    m-clus1lev;
  }

  .l-cluster > * > * {
    @apply inline-block
    m-clus2lev;
  }

  .l-cluster > .col {
    @apply flex-col
    py-10
    last:pt-0;
  }

  .carrusel .title {
    @apply text-3xl/8
    mb-10
    flex
    justify-center
    items-center;

    &:after,
    &:before {
      @apply content-['']
        w-1/12
        h-0.5
        bg-current
        block;
    }

    &:after {
      @apply ml-3;
    }

    &:before {
      @apply mr-3;
    }
  }

  .articleHome {
    @apply max-w-5xl
    mx-auto
    sm:py-20
    sm:px-10;

    .head {
      @apply py-10
      px-5
      flex
      justify-center
      items-center;

      &:after,
      &:before {
        @apply content-['']
        w-10/12
        h-0.5
        bg-current
        block;
      }

      h1 {
        @apply text-5xl/8
        mx-2;
      }
    }

    div > article.destacado {
      @apply w-full;

      .content {
        @apply lg:bottom-0;
        .content-wrapper {
          @apply font-semibold
          font-coordinates
          dark:bg-secondark/90
          lg:mx-auto;

          .enlace .subtitle {
            @apply font-semibold;
          }
        }
      }
    }
  }

  .crosslinks-inner {
    @apply max-w-5xl
    mx-auto
    sm:py-10
    sm:px-10;
  }

  .single,
  .compound {
    @apply lg:l-box
    lg:l-box--no-border;

    &:before {
      @apply content-['']
      w-2
      h-2
      rounded-full
      mx-auto
      bg-current
      flex
      flex-col;
    }
  }

  .first,
  .second {
    @apply l-box
    l-box--no-border
    
    lg:flex
    lg:justify-center;

    .optional {
      .media {
        @apply flex
        justify-center
        l-box
        l-box--no-border;

        .image,
        .noImg {
          @apply w-20
          h-20
          rounded-full
          overflow-hidden
          outline
          outline-4
          outline-firstlight
          dark:outline-firstdark
          md:w-20
          md:h-20;
        }

        .image {
          @apply relative;
        }

        .noImg {
          @apply flex
          justify-center
          items-center
          overflow-hidden
          bg-white/30;
        }
      }

      .content {
        @apply text-center
        flex
        flex-col
        items-center
        lg:min-h-52;

        .inner-content {
          @apply text-balance
            text-center
            mt-clus1lev
            mb-clus3lev;
        }
      }
    }
    .enlace {
      @apply l-box 
      l-box--no-border
      mt-auto;
      a {
        @apply cta
        inline-flex;
      }
    }
  }

  .single {
    @apply l-center;
    .content_wrapper {
      @apply flex
      justify-center;
    }
  }

  .compound {
    @apply l-center;
    .content_wrapper {
      @apply lg:grid
      lg:grid-cols-2;
    }
  }
}

@layer utilities {
  .title-page {
    @apply text-3xl
    mb-clus3lev;

    &:after {
      @apply content-['']
      w-10
      h-1
      bg-current
      block;
    }
  }

  .title-page--cameo {
    @apply text-5xl
    font-cameo
    text-center;
  }

  .subtitle {
    @apply font-semibold;
  }

  .title-block {
    @apply text-lg;

    &:after {
      @apply content-['']
      w-2
      h-1
      bg-current
      block;
    }
  }

  .title-Xtra {
    @apply text-9xl;
  }

  .cta {
    @apply font-semibold
    px-6
    py-4
    outline
    outline-4
    outline-firstlight
    dark:outline-firstdark    
    -outline-offset-1
    bg-firstlight
    text-white
    dark:bg-firstdark    
    dark:text-secondark    
    hover:bg-white
    hover:text-firstlight
    dark:hover:bg-secondark    
    dark:hover:text-firstdark;
  }
}
