@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-firstlight
    text-firstlight
    fill-firstlight
    dark:bg-secondark    dark:text-firstdark    dark:fill-firstdark;
  }

  html {
    @apply h-full;
  }

  body {
    @apply text-base/snug
    font-coordinates
    text-pretty
    min-h-full
    grid-cols-1
    grid-rows-1
    leading-normal
    overflow-x-hidden
    antialiased
    bg-white
    dark:bg-secondark;

    *,
    *::before,
    *::after {
      @apply box-border
      m-0
      break-words
      p-0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold
      tracking-tight
      m-0;
    }

    :focus {
      @apply outline
      outline-transparent
      -outline-offset-2;
    }

    main:focus,
    #main:focus,
    [tabindex='-1']:focus {
      @apply outline-none;
    }

    br {
      @apply mt-0;
    }

    b,
    strong,
    .bold {
      @apply font-semibold;
    }

    svg:not([class]) {
      @apply fill-current
      h-auto
      w-full;
    }

    & a {
      @apply transition-colors duration-500;
    }

    a:not([class]):visited {
      color: purple;
    }

    /* ::selection {
      @apply bg-primary text-white;
    } */
  }
}
@layer components {
  .hero-inner .inner-content {
    h2 {
      @apply text-5xl/9
      mt-0;
    }

    p {
      @apply mt-3 
       
      font-semibold
      sm:text-base/8;
    }
  }

  .cta {
    @apply font-semibold
    px-6
    py-3
    outline
    outline-2
    outline-firstlight
    dark:outline-firstdark    outline-offset-1
    bg-firstlight
    text-white
    dark:bg-firstdark    dark:text-secondark    hover:bg-white
    hover:text-firstlight
    dark:hover:bg-secondark    dark:hover:text-firstdark;
  }

  .carta_content {
    @apply max-w-7xl
    mx-auto 
    pb-10;

    h2 {
      @apply px-[5%]
        mb-5
        text-lg;

      &:after {
        @apply content-['']
        block 
        h-1 
        w-10 
        mt-2
        bg-current;
      }
    }

    .icon {
      @apply mr-2;
    }

    .platos {
      @apply pb-10;
    }

    .bebida h2 {
      @apply mb-5;
    }
  }

  .carrusel .title {
    @apply text-3xl/8
    mb-10
    flex
    justify-center
    items-center;

    &:after,
    &:before {
      @apply content-['']
        w-1/12
        h-0.5
        bg-current
        block;
    }

    &:after {
      @apply ml-3;
    }

    &:before {
      @apply mr-3;
    }
  }

  .articleHome {
    @apply max-w-5xl
    mx-auto
    sm:py-20
    sm:px-10;

    .head {
      @apply py-10
      px-5
      flex
      justify-center
      items-center;

      &:after,
      &:before {
        @apply content-['']
        w-10/12
        h-0.5
        bg-current
        block;
      }

      h1 {
        @apply text-5xl/8
        mx-2;
      }
    }

    div > article.destacado {
      @apply w-full;

      .content {
        @apply lg:bottom-0;
        .content-wrapper {
          @apply font-semibold
          font-coordinates
          dark:bg-secondark/90
          lg:mx-auto;

          .enlace .subtitle {
            @apply font-semibold;
          }
        }
      }
    }
  }

  .crosslinks-inner {
    @apply max-w-5xl
    mx-auto
    sm:py-10
    sm:px-10;
  }

  .single,
  .compound {
    @apply py-10;
    .first,
    .second {
      .enlace {
        a {
          @apply cta;
        }
      }
      .media {
        @apply mb-10;
        .image {
          @apply relative
          w-20
          h-20
          md:w-20
          md:h-20
          rounded-full
          overflow-hidden;
        }

        .noImg {
          @apply w-20
          h-20
          flex
          justify-center
          items-center
          md:w-20
          md:h-20
          rounded-full
          overflow-hidden;
        }
      }
    }
  }

  .single {
    .content_wrapper {
      @apply flex
      justify-center;

      .first {
        .optional {
          @apply flex
          flex-col
          items-center;
        }

        .content {
          @apply px-10
          text-center;

          .inner-content {
            @apply text-balance
              font-bold
              mt-4
              mb-10;
          }
        }
      }
    }
  }

  .compound {
    @apply py-5;
    .content_wrapper {
      @apply md:flex;

      .first {
        @apply md:border-b-0
        md:border-r-4
        dark:md:border-r-current;

        &:after {
          @apply content-['']
          block
          w-2
          h-2
          mx-auto
          my-10
          rounded-full
          bg-current
          md:content-none;
        }
      }

      .first,
      .second {
        @apply p-2
        md:w-6/12
        md:flex
        md:justify-center;

        .optional {
          @apply w-11/12
          mx-auto;

          .media {
            @apply flex
            justify-center;
          }

          .content {
            @apply flex
            flex-col
            items-center;

            .inner-content {
              @apply text-balance
              text-center
              mt-2
              mb-10
              md:min-h-16
              md:mb-8;
            }
          }
        }
      }
    }
  }
}
